@page
@model Posgrev_Frontend.Pages.CoordinatorPages.ProgramIndicators.ContextProgramModel
@{
    ViewData["Title"] = "Compromiso - Posgrev";
}

<style>
    .navbar {
        background-color: #18529D;
    }

    .nav-link {
        color: white;
    }

    .page-item {
        width: 1000px;
    }

    a {
        text-align: center;
    }

    .page-link {
        background-color: #28AD56;
        color: white;
    }

    p {
        font-weight: bold;
        font-size: smaller;
        height: 0.75rem;
    }

    span {
        font-weight: lighter;
        font-size: smaller;
        height: 0.75rem;
        padding: 1rem;
    }

    h6 {
        font-weight: lighter;
        font-size: small;
    }
</style>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="/CoordinatorPages/CoordinatorHome">Evaluaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resultados</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="container mt-4">
        <h5>Evaluación del Posgrado</h5>

        <div class="mt-4">
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link"  asp-page="/CoordinatorPages/ProgramIndicators/GeneralData" asp-route-idProgram="@Model.IdProg">Datos Generales</a></li>
                    <li class="page-item active"><a class="page-link">Compromiso</a></li>
                    <li class="page-item disabled"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/ProgramStructure" asp-route-idProgram="@Model.IdProg">Infraestructura</a></li>
                    <li class="page-item disabled"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/ScholarProcess" asp-route-idProgram="@Model.IdProg">Procesos Escolares</a></li>
                    <li class="page-item disabled"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/StudentInfo" asp-route-idProgram="@Model.IdProg">Información del Estudiante</a></li>
                    <li class="page-item disabled"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/Results" asp-route-idProgram="@Model.IdProg">Resultados</a></li>
                </ul>
            </nav>
        </div>

        <h5 class="mt-5 mb-3">Compromiso</h5>
        <form class="shadow" id="generalData" enctype="multipart/form-data" method="post">
            <input type="hidden" name="idProgram" value="@Model.IdProg" />
            <input type="hidden" name="Username" value="@Model.Username" />
            <input type="hidden" name="ParentFolderId" value="@Model.ParentFolderId" />
            <input type="hidden" name="CategoryFolderId" value="@Model.CategoryFolderId" />

            <div class="mt-1 ms-3 me-3">
                <p>Compromiso y responsabilidad social del programa educativo de posgrado:</p>
                <h6 class="ms-3 mb-3">Documento que contenga una descripción sobre los siguientes puntos. <br>
                    • Compromisos sociales del programa educativo de posgrado con la comunidad. <br>
                    • Presupuesto para actividades académicas y/o vinculación. <br>
                    • Procedimientos colegiados para la solución de controversias que surjan al interior de la comunidad
                    académica del programa. <br>
                    • Compromiso para la atención a casos de violencia de género, teniendo como principios la debida
                    diligencia, la confidencialidad, la transparencia y accesibilidad.
                </h6>
                <h6 class="mb-4">
                    Adjuntar archivo PDF <br>
                    Tamaño maximo 20 MB
                </h6>
                <input class="form-control form-control-sm" name="CompromisoPosgrado" id="formFileSm" type="file" accept="application/pdf" required>
            </div>


            <div class="mt-4 ms-3 me-3">
                <p>Vinculación con los sectores de la sociedad:</p>
                <h6 class="ms-3 mb-3">
                    Documento que contenga una descripción de los siguientes puntos: <br>
                    • Actividades de colaboración más relevantes que tiene el programa educativo de posgrado con los
                    sectores de la sociedad. <br>
                    • Acuerdos de colaboración con los sectores de la sociedad.
                </h6>
                <h6 class="mb-4">
                    Adjuntar archivo PDF <br>
                    Tamaño maximo 20 MB
                </h6>
                <input class="form-control form-control-sm" name="Vinculacion" id="formFileSm" type="file" accept="application/pdf" required>
            </div>


            <div class="mt-4 ms-3 me-3">
                <p>Actividades de retribución social:</p>
                <h6 class="ms-3 mb-3">
                    Tabla en Excel con la siguiente información: <br>
                    • Nombre alumno <br>
                    • Matrícula <br>
                    • Tipo de actividades que realiza el alumno becado y que se relacionen con la retribución social,
                    que promuevan el acceso universal al conocimiento científico y sus beneficios sociales.
                </h6>
                <h6 class="mb-3">
                    Adjuntar archivo EXCEL <br>
                    Tamaño maximo 20 MB
                </h6>
                <input class="form-control form-control-sm" name="ActividadesRetribucion" id="formFileSm" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
            </div>
            

            <div class="d-flex justify-content-end me-3 mt-5">
                <input type="hidden" name="status" id="status" value="" />
                <button type="button" class="btn btn-secondary me-2 mb-4" style="width: 200px;" onclick="saveData('Borrador')">
                    Guardar como borrador
                </button>

                <button type="button" class="btn btn-primary shadow mb-4" style="width: 250px;" onclick="saveData('Completado')">
                    Siguiente
                </button>
            </div>
        </form>

    </div>
</div>

<script>
    function saveData(status) {
        document.getElementById('status').value = status;
        document.getElementById('generalData').submit();
    }
</script>
