@page
@model Posgrev_Frontend.Pages.CoordinatorPages.ProgramIndicators.GeneralDataModel
@{
    ViewData["Title"] = "Datos Generales - Posgrev";
}

<style>
    .navbar {
        background-color: #18529D;
    }

    .nav-link {
        color: white;
    }

    .page-item {
        width: 1000px;
    }

    a {
        text-align: center;
    }

    .page-link {
        background-color: #28AD56;
        color: white;
    }

    p {
        font-weight: bold;
        font-size: smaller;
        height: 0.75rem;
    }

    span {
        font-weight: lighter;
        font-size: smaller;
        height: 0.75rem;
        padding: 1rem;
    }

    h6 {
        font-weight: lighter;
        font-size: small;
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href="/CoordinatorPages/CoordinatorHome">Evaluaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resultados</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="container mt-4">
        <h5>Evaluación del Posgrado</h5>

        <div class="mt-4">
            <nav>
                <ul class="pagination">
                    <li class="page-item active"><a class="page-link">Datos Generales</a></li>
                    <li class="page-item"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/ContextProgram" asp-route-idProgram="@Model.IdProg">Compromiso</a></li>
                    <li class="page-item"><a class="page-link"  asp-page="/CoordinatorPages/ProgramIndicators/ProgramStructure" asp-route-idProgram="@Model.IdProg">Infraestructura</a></li>
                    <li class="page-item"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/ScholarProcess" asp-route-idProgram="@Model.IdProg">Procesos Escolares</a></li>
                    <li class="page-item"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/StudentInfo" asp-route-idProgram="@Model.IdProg">Información del Estudiante</a></li>
                    <li class="page-item"><a class="page-link" asp-page="/CoordinatorPages/ProgramIndicators/Results" asp-route-idProgram="@Model.IdProg">Resultados</a></li>
                </ul>
            </nav>
        </div>


        <h5 class="mt-5 mb-3">Datos Generales del Programa</h5>
        <form class="shadow" id="generalData" method="post">
            <input type="hidden" name="idProgram" value="@Model.IdProg" />

            <div class="ms-3 me-3">
                <p>Denominación:</p>
                <input readonly type="text" name="Denominacion"
                    value="@Model.programInfo.InformacionBasica?.NombrePrograma" class="form-control form-control-sm">
            </div>


            <div class="d-flex ms-3 me-3 mt-3">
                <p class="col-6 me-2">Fecha de aprobación:</p>
                <p>Inicio de actividades:</p>
            </div>
            <div class="d-flex ms-3 me-3">
                <input type="date" name="DatosGenerales.Antecedentes.FechaAprobacion"
                    class="form-control form-control-sm me-3" required>
                <input type="date" name="DatosGenerales.Antecedentes.InicioAct" class="form-control form-control-sm"
                    required>
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Nivel:</p>
                <select name="Nivel" class="form-select form-select-sm" required>
                    <option selected hidden value="@Model.programInfo.InformacionBasica?.Nivel">
                        @Model.programInfo.InformacionBasica?.Nivel</option>
                    <option value="Diplomado de Especializacion">Diploma de Especialización</option>
                    <option value="Título de Grado de Maestro">Título de Grado de Maestro o Maestra</option>
                    <option value="Título de Grado de Doctor">Título de Grado de Doctor o Doctora</option>
                </select>
            </div>


            <div class="d-flex ms-3 me-3 mt-3">
                <p class="col-6 me-2">Adscripción:</p>
                <p>Región:</p>
            </div>
            <div class="d-flex ms-3 me-3">

                <input class="form-control me-4" name="DatosGenerales.Adsreg.Adscripcion" list="adscriptionsOptions" placeholder="Escriba para buscar la adscripcion">
                <datalist id="adscriptionsOptions">
                    @foreach (var item in Model.adscripciones?.ItemsAdscripciones)
                    {
                        <option value=@item>@item</option>
                    }
                </datalist>

                <select class="form-select form-select-sm" name="DatosGenerales.Adsreg.Region" required>
                    <option selected hidden value="@Model.programInfo.InformacionBasica.Region">
                        @Model.programInfo.InformacionBasica.Region</option>
                    <option value="Xalapa">Xalapa</option>
                    <option value="Cordoba-Orizaba">Cordoba-Orizaba</option>
                    <option value="Veracruz">Veracruz</option>
                    <option value="Coatzacoalcos">Coatzacoalcos</option>
                    <option value="Poza Rica">Poza Rica</option>
                </select>
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Modalidad:</p>
                <select class="form-select form-select-sm" name="Modalidad" required>
                    <option selected disabled value="">Seleccione una opción</option>
                    <option value="Escolarizado">Escolarizado</option>
                    <option value="Virtual">Virtual</option>
                    <option value="Mixto">Mixto</option>
                </select>
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Orientación:</p>
                <select class="form-select form-select-sm" name="Orientacion" required>
                    <option selected disabled value="">Seleccione una opción</option>
                    <option value="Investigación">Investigación</option>
                    <option value="Profesionalizante">Profesionalizante</option>
                </select>
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Página Web:</p>
                <input type="text" class="form-control form-control-sm" name="PaginaWeb" required>
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Registro ante la Dirección General de Profesiones:</p>
                <h6 class="mt-4 mb-3">
                    Documento que avale: <br><br>
                    • El registro oficial ante la Dirección General de Profesiones.
                </h6>
                <h6 class="mb-4">
                    Adjuntar archivo PDF <br>
                    Tamaño maximo 20 MB
                </h6>

                <input class="form-control form-control-sm" name="RegistroProfesiones" id="formFileSm" type="file"
                    required>
                
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Duración del Programa:</p>
                <select class="form-select form-select-sm" name="Duracion" required>
                    <option selected disabled value="">Seleccione una opción</option>
                    <option value="12 meses">12 meses</option>
                    <option value="24 meses">24 meses</option>
                    <option value="48 meses">48 meses</option>
                </select>
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Periodos Lectivos:</p>
                <select class="form-select form-select-sm" name="PeriodosLectivos" required>
                    <option selected disabled value="">Seleccione una opción</option>
                    <option value="2 semestres">2 semestres</option>
                    <option value="4 semestres">4 semestres</option>
                    <option value="8 semestres">8 semestres</option>
                </select>
            </div>


            <div class="ms-3 me-3 mt-3">
                <p>Periodicidad de convocatoria:</p>
                <select class="form-select form-select-sm" name="PeriodicidadConvocatoria" required>
                    <option selected disabled value="">Seleccione una opción</option>
                    <option value="Anual">Anual</option>
                    <option value="Bienal">Bienal</option>
                    <option value="Generacional">Generacional</option>
                </select>
            </div>


            <div class="ms-3 me-3 mt-4">
                <p>Cuota de recuperación por generación:</p>
                <h6 class="mb-4">
                    Tabla en Excel con la siguiente información: <br><br>
                    • Nombre del programa. <br>
                    • Monto total de la cuota de recuperación por generación.
                </h6>
                <h6 class="mb-3">
                    Adjuntar archivo EXCEL <br>
                    Tamaño maximo 20 MB
                </h6>
                <input class="form-control form-control-sm" name="CuotaRecuperacion" id="formFileSm" type="file"
                    required>
            </div>


            <div class="ms-3 me-3 mt-3 mb-4">
                <p>PRONACES:</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces1" name="pronaces" value="Agua">
                    <label class="form-check-label" for="pronaces1">Agua</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces2" name="pronaces" value="Salud">
                    <label class="form-check-label" for="pronaces2">Salud</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces3" name="pronaces" value="Seguridad Humana">
                    <label class="form-check-label" for="pronaces3">Seguridad Humana</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces4" name="pronaces" value="Cultura">
                    <label class="form-check-label" for="pronaces4">Cultura</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces5" name="pronaces" value="Sistemas socio-ecológicos">
                    <label class="form-check-label" for="pronaces5">Sistemas socio-ecológicos</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces6" name="pronaces" value="Educación">
                    <label class="form-check-label" for="pronaces6">Educación</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces7" name="pronaces" value="Vivienda">
                    <label class="form-check-label" for="pronaces7">Vivienda</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces8" name="pronaces" value="Soberanía alimentaria">
                    <label class="form-check-label" for="pronaces8">Soberanía alimentaria</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces9" name="pronaces" value="Energia y cambio climático">
                    <label class="form-check-label" for="pronaces9">Energia y cambio climático</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="pronaces10" name="pronaces" value="Agentes tóxicos y procesos contaminantes">
                    <label class="form-check-label" for="pronaces10">Agentes tóxicos y procesos contaminantes</label>
                </div>
            </div>

            <div class="d-flex justify-content-end me-3">
                <button type="button" class="btn btn-secondary me-2 mb-4" style="width: 200px;">
                    Guardar como borrador
                </button>

                <button type="submit" class="btn btn-primary shadow mb-4" style="width: 250px;">
                    Siguiente
                </button>
            </div>

        </form>

    </div>

</div>