@page
@model Posgrev_Frontend.Pages.AdministratorPages.AdministratorUserModel
@{
    ViewData["Title"] = "Posgrev - Administrar Usuarios";
}

<style>
    .card {
        cursor: pointer;
        border-radius: 10px;
    }

    .card-body {
        border-color: grey;
    }

    .navbar {
        background-color: #18529D;
    }

    .nav-link {
        color: white;
    }

    .card-title {
        font-size: 1.5em; /* Tamaño de la fuente del título */
    }

    .user-info {
        font-size: 1.2em; /* Tamaño de la fuente para el nombre de usuario y rol */
    }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/AdministratorPages/AdministratorPrograms">Posgrados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/AdministratorPages/AdministratorUser">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdministratorPages/EvaluationDates">Fechas de evaluación</a>
                </li>
            </ul>
            <div class="d-flex w-50">
                <input class="form-control me-2" type="text" id="searchText" placeholder="Buscar por:" aria-label="Search">
                <select class="form-select me-2 w-25" name="filter" id="inputFilter">
                    <option selected value="nombre">Nombre</option>
                    <option value="rol">Rol</option>
                </select>
            </div>
            <a href="/login" class="btn btn-primary">Cerrar sesión</a>
        </div>
    </div>
</nav>


<button type="button" class="btn btn-primary mt-3 ms-3" onclick="navigateToCreateNewUser()">
    Nuevo usuario
</button>

<div class="container-fluid mt-3" id="programCard">
    @foreach (var user in Model.RegisteredUsers)
    {
        if (user.rol != "SuperAdministrador")
        {
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <div class="d-flex">
                        <!-- Mostrando solo el nombre en la parte superior -->
                        <h5 class="card-title col-11">
                            Nombre: @(user.nombreUsuario ?? "No disponible")
                        </h5>
                        <button type="button" class="btn btn-outline-primary" onclick="editUser('@user.IDusuario')">Editar</button>
                        <button type="button" class="btn btn-outline-primary" onclick="deleteUser(@(user.IDusuario ?? -1))">Borrar</button>
                    </div>
                    <div class="d-flex user-info">
                        <!-- Mostrando solo el rol debajo -->
                        <span class="me-4 rol">Rol: @(user.rol ?? "No disponible")</span>
                        <span class="me-4"> Identificador de programa: @(user.identificadorPrograma ?? "Sin identificador de programa")</span>
                    </div>
                    <div class="d-flex">
                        <!-- ... más elementos si es necesario ... -->
                    </div>
                </div>
            </div>
        }
    }
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>

<script>

    const navigateToCreateNewUser = () => {
        var url = "/AdministratorPages/UserGestion";
        window.location.href = url;
    }

    const editUser = (IDusuario) => {
        var url = "/AdministratorPages/EditUser/?IDusuario=" + IDusuario;
        window.location.href = url;
    }

    $(document).ready(function () {
        $("#searchText, #inputFilter").on("input change", function () {
            var searchText = $("#searchText").val().toLowerCase();
            var filterBy = $("#inputFilter").val();

            // Filtra las tarjetas según el campo seleccionado
            $(".card").each(function () {
                var cardText = "";

                if (filterBy === "nombre") {
                    // Buscar por nombre
                    cardText = $(this).find(".card-title").text().toLowerCase();
                } else if (filterBy === "rol") {
                    // Buscar por rol
                    cardText = $(this).find(".user-info .rol").text().toLowerCase();
                }

                $(this).toggle(cardText.includes(searchText));
            });
        });
    });

    const deleteUser = (userID) => {
        if (confirm("¿Estás seguro de que deseas borrar este usuario?")) {
            $.ajax({
                type: "POST",
                url: `/AdministratorUser?handler=DeleteUser&userID=${userID}`,
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload();
                },
                error: function (error) {
                    console.error("Error al borrar el usuario:", error);
                }
            });
        }
    };
</script>


